#App {
  text-align: center;
  height: 100svh;
  width: 100svw;
  overflow-y: scroll;
}

.dark_theme{
  background-color: rgb(14, 44, 105);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.neon-red {
  --neon: #FF5161;
  --neon-glow: #D30302;
}

.neon-pink {
  --neon: #FF53cd;
  --neon-glow: #e10361;
}

.neon-purple {
  --neon: #9461fd;
  --neon-glow: #4003e6;
}

.neon-blue {
  --neon: #2dd9fe;
  --neon-glow: #00a3d5;
}

.neon-green {
  --neon: #00fe9b;
  --neon-glow: #02c435;
}

.neon-yellow {
  --neon: #ffdb4e;
  --neon-glow: #b48505;
}

.neon-white {
  --neon: #fefefe;
  --neon-glow: #ffffff;
}




/* General */




.Signup input{
    background: #f4f6f8!important;
    border: 1px solid #7064e5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #7064e5!important;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    padding: 12px;
    width: 50%;
    margin: auto;
    text-align: center;
}


/* Signup */
.Signup{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.Signup form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: bold;
    width: 100%;
    margin: auto;
    font-size: inherit;
}

.Signup button{
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    background: #7064e5;
    border: 1px solid #7064e5;
    border-radius: 6px;
    padding: 8px;
    font-size: inherit;
}


@media (max-width : 600px) {
    .Signup{
        font-size: small;
    }
}


@media (max-width : 540px) {
    .Signup{
        font-size: x-small;
    }
}

@media (max-width : 495px) {
    .Signup{
        font-size: xx-small;
    }
}